country,GEN;ES_ES,Español (Spain)

;File Name System
;----------------
;Format: xx_yyyy.*
;
;xx:
;de    = Contabilidad por partida doble 
;dee   = Contabilidad por partida doble para el Euro 
;defc  = Contabilidad por partida doble con multidivisa 
;cb    = Libro de caja 
;cbe   = Libro de caja para el Euro 
;ar    = Informe contable 


;Contabilidad por partida doble sin IVA 

;Contabilidad por partida doble con IVA 

;Contabilidad por partida doble para el Euro

;Contabilidad por partida doble para el Euro con IVA

;Contabilidad por partida doble con multidivisa sin IVA 

;Contabilidad por partida doble con multidivisa e IVA 

;Informes contables

;Historia de divisas

;Libro de caja sin IVA
130,100,0,"Libro de caja para una asociación", lc_asociacion.ac2,ES_ES
130,100,0,"Libro de caja particular", lc_particular.ac2,ES_ES

;Libro de caja con IVA
130,110,0,"EJEMPLO con plan contable y transacciones", ejemplo_lc_iva_comercio.ac2,ES_ES
130,110,0,"Libro de caja para un comercio", lc_iva_comercio.ac2,ES_ES

;Libro de caja para el Euro sin IVA

;Libro de caja para el Euro con IVA

;Informe de IVA

